#sidebar-wrapper {
    width: 25%;
    min-width: 300px;
    height: calc(100vh - 58px);
    box-sizing: border-box;
    border-right: 1px solid $grey-color;
    background-color: #fff;

	.search-input {
		padding: 15px;
		display: flex;
		.icon-search,
		.icon-clear {
			height: 34px;
			width: 40px;
			line-height: 36px;	
			display: inline-block;	
			background-color: $light-grey-color;
			border: 1px solid $light-grey-color;	
			box-sizing: border-box;
			transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
			text-align: center;
			&.active {
				outline: none;
				background-color: transparent;
				border: 1px solid $grey-color;
			}
			svg {
				path {
					fill: $dark-grey-color;
				}
			}
		}
		.icon-search {
			border-right: none;
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
			&.active {
				border-right: none;
			}

		}
		.icon-clear {
			border-left: none;
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
			svg {
				display: none;
			}
			&.active {
				cursor: pointer;
				border-left: none;
				svg {
					display: inline-block;
				}
			}
			&.filled {
				cursor: pointer;
				svg {
					display: inline-block;
				}
			}
		}
		.input {
			padding: 0px;
			border-left: none;
			border-right: none;
			border-radius: 0px;
		}
	}

	#chats-list {
		height: calc(100vh - 122px);
		overflow-y: auto;
		&::-webkit-scrollbar-track {
			background-color: $light-grey-color;
		}
		&::-webkit-scrollbar {
			width: 2px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $grey-color;
		}
	}
}

