#top-navigation {
	height: 58px;
	background-color: $primary-color;
	box-shadow: $primary-shadow;
	color: $white-font-color;
	font-weight: bold;
	position: relative;
    z-index: 9999;
    padding: 0px 15px;
	align-items: center;
    justify-content: space-between;
    .user-info {
		display: flex;
		align-items: center;
		height: 58px;

		.user-name {
			padding-left: 10px;
		}

    }
    .logout {
    	cursor: pointer;
		display: flex;
		align-items: center;
		font-size: 22px;
		width: 46px;
		justify-content: center;
		height: 46px;
		border-radius: 50%;
    }
}